.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/

spec/dummy/public/system
spec/dummy/storage/
# Mac
.DS_Store

# Windows
.Thumbs.db

# Rails
Gemfile.lock
coverage/
