
<h1>User Terms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_terms.each do |user_term| %>
      <tr>
        <td><%= link_to 'Show', user_term %></td>
        <td><%= link_to 'Edit', edit_user_term_path(user_term) %></td>
        <td><%= link_to 'Destroy', user_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Term', new_user_term_path %>
