<p>Hi , your complete data was processed and can be downloaded at</p>

<%= link_to "download file", @portability_request.attachment.expiring_url(PolicyManager::Config.exporter.expiration_link) %>




