

<div class="row">
  <%= render "side" %>

  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <%= I18n.t("terms_app.terms.new.title", name: params[:category_id]) %>
        </h3>
      </div>
      <div class="card-body">
        <%= render 'form', term: @term %>
      </div>
    </div>
  </div>
</div>